body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    background: gray;
}

*{
    color: #000;
}
section.container h2#name{
    color:gray;
    font-style: bold;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid black;
}

h1{
    text-align: center;
    font-size: 28pt;
}

h1,h2{
    font-style: italic;
}

section.container{
width: 50%;
height: 100vh;
margin-left: 450px;
padding: 20px;
background: azure;
}

div.image #myimage{
width: 400px;
height: 400px;
float: left; 
position: relative;
top: 2px;
margin-right: 20px;
border-radius: 200px;
}

footer h3{
    color: white;
}

footer ul li {
list-style-type: none;
color: white;

}

footer h3{
    margin-left: 20px;
}

footer{
   position:absolute;
   bottom: 80px;
   left: 10px;
   padding-bottom: 20px;
   background: gray;
   opacity: 1.0;
   width: 10%;
   height: 5px;
}